/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ////////// T Y P E ////////// */
/* ////////// C O L O R ////////// */
/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

------------------------------------------------------------- */
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #a29acb;
  font-family: "proxima-nova", "Helvetica", "Arial", "sans-serif";
  font-size: 15px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

a {
  outline: none;
}

a:not(.button) {
  -webkit-transition: all 0.2s ease-in-out 0s;
  -khtml-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  color: #6959bf;
  font-weight: 600;
  opacity: 1;
}

a:not(.button):hover {
  text-decoration: none;
}

em {
  font-style: italic;
}

*::selection {
  color: white;
  background: #6959bf;
}

*::-moz-selection {
  color: white;
  background: #6959bf;
}

h1, h2, h3, h4, h5, h6 {
  color: black;
  font-family: "niveau-grotesk", "Helvetica", "Arial", "sans-serif";
  font-weight: 600;
}

.site-nav,
.site-footer {
  margin: 0 auto;
  max-width: 1200px;
  padding: 60px 0;
}

.site-nav {
  border-bottom: 1px solid #e8e6f4;
}

.site-nav nav {
  margin: 0 auto;
  max-width: 860px;
}

.site-nav nav:after {
  content: "";
  display: table;
  clear: both;
}

.site-nav nav .logo {
  float: left;
}

.site-nav nav .social {
  float: right;
}

.site-nav nav .social li {
  padding: 0 8px;
}

.site-nav nav .social li:first-of-type {
  padding-left: 0;
}

.site-nav nav .social li:last-of-type {
  paddig-right: 0;
}

.site-nav nav .social li a {
  -webkit-transition: all 0.2s ease-in-out 0s;
  -khtml-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  opacity: 0.4;
  padding: 10px;
}

.site-nav nav .social li a:hover {
  opacity: 1;
}

.site-nav nav .social li,
.site-nav nav .social a {
  vertical-align: middle;
  display: inline-block;
}

.site-footer {
  font-weight: 600;
  margin-top: 60px;
  text-align: center;
}

.site-footer em {
  color: #9486e0;
}

.site-footer .copyright {
  font-size: 13px;
}

.button {
  -webkit-border-radius: 60px;
  -khtml-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -khtml-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  border-color: #6959bf;
  border-style: solid;
  border-width: 2px;
  color: #6959bf;
  display: inline-block;
  font-weight: 600;
  height: 56px;
  line-height: 56px;
  padding: 0 20px;
  position: relative;
  min-width: 150px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.button:hover {
  background-color: #6959bf;
  color: white;
}

.button:hover:after {
  background: url("../assets/button-arrow-white.png") no-repeat;
}

.button:after {
  background: url("../assets/button-arrow-color.png") no-repeat;
  content: '';
  display: inline-block;
  height: 8px;
  margin-top: -4px;
  opacity: 0.7;
  position: absolute;
  right: 20px;
  top: 50%;
  width: 16px;
}

.button-join {
  text-indent: -10px;
}

.button-join:hover {
  text-indent: -7px;
}

.button-join:hover:before {
  background: url("../assets/button-discord-white.png") no-repeat;
}

.button-join:before {
  background: url("../assets/button-discord-color.png") no-repeat;
  content: '';
  display: inline-block;
  height: 24px;
  left: 15px;
  margin-top: -10px;
  position: absolute;
  top: 50%;
  width: 21px;
}

.button-large {
  -webkit-border-radius: 100px;
  -khtml-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
  border-width: 4px;
  display: block;
  height: auto;
  line-height: 1;
  padding: 30px 40px;
  margin: 0 auto;
  max-width: 340px;
}

.button-large:after {
  right: 30px;
}

.button-large span {
  display: block;
}

.button-large .button--text-primary {
  font-family: "niveau-grotesk", "Helvetica", "Arial", "sans-serif";
  font-size: 17px;
  font-weight: 800;
  margin-bottom: 5px;
}

.button-large .button--text-secondary {
  color: #9486e0;
  font-style: italic;
  text-transform: none;
}

.button-wrapper {
  position: relative;
}

.button-wrapper span {
  position: absolute;
  bottom: -30px;
  left: 0;
}

.main-wrapper {
  margin: 0 auto;
  max-width: 700px;
}

.hero .callout {
  color: #6959bf;
  font-size: 117px;
  line-height: 1.2;
  padding: 100px 0;
  text-align: center;
}

.hero .callout .callout-offset {
  position: relative;
}

.hero .callout .callout-offset span {
  color: #23c5df;
  font-size: 15px;
  font-style: italic;
  font-weight: 800;
  letter-spacing: 1px;
  line-height: 1;
  position: absolute;
  text-transform: uppercase;
}

.hero .callout .callout-offset.callout-offset-bottom span {
  bottom: -2px;
  right: 0;
}

.hero .callout .callout-offset.callout-offset-top span {
  left: 0;
  top: -2px;
}

.hero .callout span {
  display: inline-block;
}

.servers {
  margin: 0 auto;
  max-width: 580px;
}

.servers .server {
  padding: 60px 180px 60px 100px;
  position: relative;
}

.servers .server:before {
  background-repeat: no-repeat;
  content: '';
  display: inline-block;
  left: 0;
  height: 70px;
  position: absolute;
  top: 70px;
  width: 61px;
}

.servers .server:after {
  background-color: #e8e6f4;
  bottom: 0;
  content: '';
  height: 1px;
  position: absolute;
  width: 250px;
  left: 50%;
  margin-left: -125px;
}

.servers .server:last-of-type:after {
  display: none;
}

.servers .server.server--teams:before {
  background: url("../assets/core-teams.png");
}

.servers .server.server--scrim:before {
  background: url("../assets/core-scrim.png");
}

.servers .server.server--league:before {
  background: url("../assets/core-league.png");
}

.servers .server h2 {
  font-size: 23px;
  margin-bottom: 10px;
}

.servers .server .button-wrapper {
  position: absolute;
  right: 0;
  top: 74px;
}

.servers .server .button-wrapper span {
  font-size: 13px;
  font-weight: 600;
}
