/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ////////// T Y P E ////////// */
/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

------------------------------------------------------------- */
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "proxima-nova", "Helvetica", "Arial", "sans-serif";
  font-size: 15px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "niveau-grotesk", "Helvetica", "Arial", "sans-serif";
  font-weight: 600;
}

.button {
  -webkit-border-radius: 60px;
  -khtml-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
  border-style: solid;
  border-width: 2px;
  display: inline-block;
  font-weight: 600;
  height: 56px;
  line-height: 56px;
  padding: 0 20px;
  min-width: 150px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.button-large {
  -webkit-border-radius: 100px;
  -khtml-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
  border-width: 4px;
  display: block;
  height: auto;
  line-height: 1;
  padding: 30px 40px;
  margin: 0 auto;
  max-width: 340px;
}

.button-large span {
  display: block;
}

.button-large .button--text-primary {
  font-family: "niveau-grotesk", "Helvetica", "Arial", "sans-serif";
  font-size: 17px;
  font-weight: 800;
  margin-bottom: 5px;
}

.button-large .button--text-secondary {
  font-style: italic;
  text-transform: none;
}

.button-wrapper {
  position: relative;
}

.button-wrapper span {
  position: absolute;
  bottom: -30px;
  left: 0;
}

.main-wrapper {
  margin: 0 auto;
  max-width: 700px;
}

.hero {
  margin-bottom: 60px;
}

.hero .callout {
  font-size: 117px;
  line-height: 1;
  padding: 100px 0;
  text-align: center;
}

.hero .callout .callout-offset {
  position: relative;
}

.hero .callout .callout-offset span {
  font-size: 15px;
  font-style: italic;
  font-weight: 800;
  letter-spacing: 1px;
  position: absolute;
  text-transform: uppercase;
}

.hero .callout .callout-offset.callout-offset-bottom span {
  bottom: -10px;
  right: 0;
}

.hero .callout .callout-offset.callout-offset-top span {
  left: 0;
  top: -10px;
}

.hero .callout span {
  display: inline-block;
}

.servers {
  margin: 0 auto;
  max-width: 580px;
}

.servers .server {
  padding: 60px 180px 60px 100px;
  position: relative;
}

.servers .server:after {
  background-color: #e8e8e8;
  bottom: 0;
  content: '';
  height: 2px;
  position: absolute;
  width: 250px;
  left: 50%;
  margin-left: -125px;
}

.servers .server h2 {
  font-size: 23px;
  margin-bottom: 10px;
}

.servers .server .button-wrapper {
  position: absolute;
  right: 0;
  top: 74px;
}

.servers .server .button-wrapper span {
  font-size: 13px;
  font-weight: 600;
}
