<div id="navigation-mobile" class="navigation-mobile">
	<a href="{{ site.baseurl }}" class="mobile-logo icon-core-logomark" title="CORE Overwatch"></a>

	<div id="navigation-close" class="navigation-close">
		<span></span>
	</div>

	<nav>
		<ul class="social">
			<li class="twitter">
				<a href="https://twitter.com/core_overwatch" target="_blank" onclick="ga('send', 'event', 'Calls to Action', 'Click', 'Twitter');"><span>Twitter</span></a>
			</li>

			<li class="discord">
				<a href="https://discord.gg/zMYsKs6" target="_blank" onclick="ga('send', 'event', 'Calls to Action', 'Click', 'CORE Teams - Header');"><span>Discord</span></a>
			</li>

			<li class="twitch">
				<a href="https://twitch.tv/coreoverwatch" target="_blank" onclick="ga('send', 'event', 'Calls to Action', 'Click', 'Twitch');"><span>Twitch</span></a>
			</li>

			<li class="youtube">
				<a href="https://www.youtube.com/channel/UCKqQFC79QPEwvnU-6SIHcQg" target="_blank" onclick="ga('send', 'event', 'Calls to Action', 'Click', 'YouTube');"><span>YouTube</span></a>
			</li>

			<li class="patreon">
				<a href="https://www.patreon.com/coreoverwatch" target="_blank" onclick="ga('send', 'event', 'Calls to Action', 'Click', 'Patreon');"><span>Patreon</span></a>
			</li>
		</ul>
	</nav>
</div>

<script type="text/javascript">
$(document).ready(function() {
	let navigation = $('#navigation-mobile');

	function showNavigation() {
		$('body')
			.scrollTop(0)
			.addClass('nav--shown')
			.removeClass('nav--hidden');

		navigation
			.addClass('nav--show')
			.removeClass('nav--hide');
	}

	function hideNavigation() {
		$('body')
			.addClass('nav--hidden')
			.removeClass('nav--shown');

		navigation
			.addClass('nav--hide')
			.removeClass('nav--show');
	}

	$('#navigation-close').on('click touch', hideNavigation);
	$('#hamburger').on('click touch', showNavigation);
});

</script>