/* ////////// T Y P E ////////// */
$font-primary: 'proxima-nova', 'Helvetica', 'Arial', 'sans-serif';
$font-secondary: 'niveau-grotesk', 'Helvetica', 'Arial', 'sans-serif';

$type-scale-massive: 117px;
$type-scale-goliath: 68px;
$type-scale-david: 23px;
$type-scale-base: 15px;
$type-scale-tiny: 13px;