@import "reset";
@import "config";
@import "mixins";

*,
*:after,
*:before {
	@include box-sizing();
}

body {
	color: $color-primary-soft;
	font-family: $font-primary;
	font-size: $type-scale-base;
	line-height: 1.5;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
	color: black;
	font-family: $font-secondary;
	font-weight: 600;
}

.button {
	$height: 56px;

	@include border-radius(60px);

	border-color: $color-primary;
	border-style: solid;
	border-width: 2px;
	color: $color-primary;
	display: inline-block;
	font-weight: 600;
	height: $height;
	line-height: $height;
	padding: 0 20px;
	min-width: 150px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}

.button-large {
	@include border-radius(100px);

	border-width: 4px;
	display: block;
	height: auto;
	line-height: 1;
	padding: 30px 40px;
	margin: 0 auto;
	max-width: 340px;

	span {
		display: block;
	}

	.button--text-primary {
		font-family: $font-secondary;
		font-size: 17px;
		font-weight: 800;
		margin-bottom: 5px;
	}

	.button--text-secondary {
		color: $color-primary-vibrant;
		font-style: italic;
		text-transform: none;
	}
}

.button-wrapper {
	position: relative;
	
	span {
		position: absolute;
		bottom: -30px;
		left: 0;
	}
}

.main-wrapper {
	margin: 0 auto;
	max-width: 700px;
}

.hero {
	margin-bottom: 60px;

	.callout {
		color: $color-primary;
		font-size: $type-scale-massive;
		line-height: 1;
		padding: 100px 0;
		text-align: center;

		.callout-offset {
			position: relative;

			span {
				color: $color-secondary;
				font-size: $type-scale-base;
				font-style: italic;
				font-weight: 800;
				letter-spacing: 1px;
				position: absolute;
				text-transform: uppercase;
			}

			&.callout-offset-bottom {
				span {
					bottom: -10px;
					right: 0;
				}
			}

			&.callout-offset-top {
				span {
					left: 0;
					top: -10px;
				}
			}
		}

		span {
			display: inline-block;
		}
	}
}

.servers {
	margin: 0 auto;
	max-width: 580px;

	.server {
		$padding-top: 60px;
		padding: $padding-top 180px $padding-top 100px;
		position: relative;

		&:before {
			background-repeat: no-repeat;
			content: '';
			display: inline-block;
			left: 0;
			height: 70px;
			position: absolute;
			top: $padding-top + 10;
			width: 61px;
		}

		&.server--teams:before {
			background: url('../assets/core-teams.png');
		}

		&.server--scrim:before {
			background: url('../assets/core-scrim.png');
		}

		&.server--league:before {
			background: url('../assets/core-league.png');
		}

		&:after {
			$size: 250px;

			background-color: $color-divider;
			bottom: 0;
			content: '';
			height: 2px;
			position: absolute;
			width: $size;
			left: 50%;
			margin-left: -($size / 2);
		}

		h2 {
			font-size: $type-scale-david;
			margin-bottom: 10px;
		}

		.button-wrapper {
			position: absolute;
			right: 0;
			top: $padding-top + 14;

			span {
				font-size: $type-scale-tiny;
				font-weight: 600;
			}
		}
	}
}