@import "reset";
@import "config";

body {
	font-family: $font-primary;
	font-size: 100%;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}