.site-nav {
	border-bottom: 1px solid $color-divider;

	nav {
		@include clearfix();

		margin: 0 auto;
		max-width: 860px;

		.logo {
			float: left;
		}

		.social {
			float: right;

			li {
				padding: 0 8px;

				&:first-of-type {
					padding-left: 0;
				}

				&:last-of-type {
					paddig-right: 0;
				}

				a {
					@include transition();

					font-size: 22px;
					opacity: 0.4;
					padding: 10px;
					text-decoration: none;

					span {
						display: none;
					}
					
					&:hover {
						opacity: 1;
					}

					&.icon-twitter {
						font-size: 24px;
					}

					&.icon-youtube {
						font-size: 24px;
					}

					&.icon-patreon {
						font-size: 20px;
					}
				}
			}

			li,
			a {
				vertical-align: middle;
				display: inline-block;
			}
		}
	}
}